@import '../../variables.scss';

.messages-container {
    display: grid;
    grid-template-rows: auto max-content;
    width: 100%;

    .messages-list {
        display: flex;
        overflow: auto;
        flex-direction: column-reverse;
        justify-self: center;
    }
}