@import '../../../variables.scss';

.single-message{
    justify-self: center;
    width: 96%;
    display: flex;
}

.sent-message{
    margin-left: auto;
    background-color: $main-color;
    width: max-content;
    max-width: 35%;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 0.5rem;
    position: relative;

    &__popover{
        position: absolute;
        margin-top:-3rem;
        margin-left:3rem;
        width: 10%;
        z-index: 5;
        display: none;

        &--container{
            display: flex;
            background-color:rgba(51, 55, 77, 0.5);
            padding: 0.5rem 1rem;
            gap:1rem;
            border-radius: 8px;
        }
        &__edit{
            mask: url("./edit.png") no-repeat center;
            mask-size: 1.2rem;
            width: 1.2rem;
            height: 1.2rem;
            background-color: #FFFFFF;

            &:hover{
                cursor:pointer;
                background-color: $main-color;
            }
        }
        &__delete{
            mask: url("./delete.png") no-repeat center;
            mask-size: 1.2rem;
            width: 1.2rem;
            height: 1.2rem;
            background-color: #FFFFFF;
            &:hover{
                cursor:pointer;
                background-color: red
            }
        }
    }
    &:hover{
        .sent-message__popover{
            display: flex;
            justify-content: flex-end;
        }
    }

}

.edit-message{
    margin-left: auto;
    width: 35%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    &__input{
        background-color: $main-color;
        width: 100%;
        padding: 1rem;
        border-radius: 6px;
        border:none;
        color:white;
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size:1rem;
    }
}

.received-message{
    margin-top: 0.5rem;
    width: 35%;
    &-content{
        background-color: $dark-blue;
        width: max-content;
        max-width: 100%;
        padding: 1rem;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 900px) {
    .sent-message{
        max-width: 50%;
    }
    .received-message{
        width: 50%;
    }
    .edit-message{
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .sent-message{
        max-width: 75%;
    }
    .received-message{
        width: 75%;
    }
    .edit-message{
        width: 75%;
    }
}